body {
    background-color: #f6f6f6;
}

#head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block_post {
    border: solid 1px red;
}

.picture {
    max-height: 400px;
    max-width: 500px;
}

.image-container {
    background-color: #ffffff;
    border: 1px solid #f4f4f4;
    margin-top: 1vw;
    min-width: 700px;
}

.picture-tittle {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.picture-div img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.page-footer {
    padding-top: 0;
}

.brand-logo {
    margin-left: 2vw;
}

#nav-mobile {
    margin-right: 2vw !important;
}

#pagination {
    font-size: large;
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination-item {
    margin-right: 10px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

#main {
    position: relative;
}

.card-panel {
    position: absolute;
    right: 1vw;
    top: 9vw;
    z-index: 100;
}
