#head {
    border: solid 2px black;
    min-height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block_post {
    border: solid 1px red;
}

.picture {
    max-height: 400px;
    max-width: 500px;
}
