.actions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sticker-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sticker {
    max-height: 200px;
    max-width: 200px;
}

#selected-sticker {
    position: absolute;
    left: 28vw;
    top: 260px;
}

.canvas-container {
    position: relative;
}

.delete-picture {
    position: absolute;
    top: 1vw;
    right: 1vw;
}

.picture-div {
    position: relative;
}

.center-settings {
    background-color: white;
    padding-top: 1vw;
    margin-top: 2vw;
    padding-bottom: 2vw;
    margin-bottom: 2vw;
}
